files: ^metro-ai-suite/live-video-analysis/live-video-captioning
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: debug-statements
      - id: check-merge-conflict
      - id: name-tests-test
        exclude: ^tests/fixtures/
        args: [ --pytest-test-first ]
      - id: requirements-txt-fixer
      - id: detect-private-key
      - id: no-commit-to-branch
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-pyyaml, types-requests]
        args: [ --ignore-missing-imports ]
        exclude: ^metro-ai-suite/metro-ai-suite/live-video-analysis/live-video-captioningtesting/resources/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [ --fix, --exit-non-zero-on-fix, --ignore-noqa ]
      - id: ruff-format
        types_or: [ python, pyi ]
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.28
    hooks:
      - id: uv-sync
        args: ["--locked", "--all-packages"]
