# Copyright (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

name: "[Robotics] Pre-merge workflow"

on:
  pull_request:
    paths:
      - '.github/workflows/robotics*'
      - 'robotics-ai-suite/**'
      - '!robotics-ai-suite/**/docs/**'

  workflow_dispatch:

jobs:
  check-changes:
    name: "Checking for changes in robotics-ai-suite"
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      components-changed: ${{ steps.filter.outputs.components-location }}
      pipelines-changed: ${{ steps.filter.outputs.pipelines-location }}
      rvc-changed: ${{ steps.filter.outputs.rvc-location }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false
      - name: Configure paths to look for changes
        id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        with:
          filters: |
            components-location:
              - 'robotics-ai-suite/components/**'
            pipelines-location:
              - 'robotics-ai-suite/pipelines/**'
            rvc-location:
              - 'robotics-ai-suite/robot-vision-control/**'

  build-components:
    name: "Build Robotics Components (Autonomous Mobile Robots)"
    needs: check-changes
    if: ${{ needs.check-changes.outputs.components-changed == 'true' }}
    uses: "./.github/workflows/robotics-components.yaml"

  # build-pipelines:
  #   name: "Build Robotics Pipelines (Humanoid)"
  #   needs: check-changes
  #   if: ${{ needs.check-changes.outputs.pipelines-changed == 'true' }}
  #   uses: "./.github/workflows/robotics-pipelines.yaml"

  # build-rvc:
  #   name: "Build Robotics Pipelines (Robot Vision Control)"
  #   needs: check-changes
  #   if: ${{ needs.check-changes.outputs.rvc-changed == 'true' }}
  #   uses: "./.github/workflows/robotics-rvc.yaml"
